---
import BaseLayout from "../../layouts/BaseLayout.astro";
import FieldNotes from "../../components/FieldNotes.astro";
import FilmWall from "../../components/FilmWall.astro";
import Hero from "../../components/Hero.astro";
import QuestionGarden from "../../components/QuestionGarden.astro";
import Rooms from "../../components/Rooms.astro";
import Salon from "../../components/Salon.astro";
import SiteFooter from "../../components/SiteFooter.astro";
import SiteHeader from "../../components/SiteHeader.astro";
import { site } from "../../data/site";
---

<BaseLayout title={site.zh.title} description={site.zh.description} lang="zh">
  <main>
    <SiteHeader locale="zh" />
    <Hero locale="zh" />
    <Rooms locale="zh" />
    <QuestionGarden locale="zh" />
    <FieldNotes locale="zh" />
    <Salon locale="zh" />
    <FilmWall locale="zh" />
    <SiteFooter locale="zh" />
  </main>
</BaseLayout>
