---
import BaseLayout from "../layouts/BaseLayout.astro";
import FieldNotes from "../components/FieldNotes.astro";
import FilmWall from "../components/FilmWall.astro";
import Hero from "../components/Hero.astro";
import QuestionGarden from "../components/QuestionGarden.astro";
import Rooms from "../components/Rooms.astro";
import Salon from "../components/Salon.astro";
import SiteFooter from "../components/SiteFooter.astro";
import SiteHeader from "../components/SiteHeader.astro";
import { site } from "../data/site";
---

<BaseLayout title={site.en.title} description={site.en.description}>
  <main>
    <SiteHeader locale="en" />
    <Hero locale="en" />
    <Rooms locale="en" />
    <QuestionGarden locale="en" />
    <FieldNotes locale="en" />
    <Salon locale="en" />
    <FilmWall locale="en" />
    <SiteFooter locale="en" />
  </main>
</BaseLayout>
