---
import { copy, type Locale } from "../data/site";
const { locale = "en" } = Astro.props as { locale?: Locale };
---

<footer class="frame site-footer">
  <p>Fuma Jiang<br />Bay Area / Earth</p>
  <p>{copy[locale].footer}</p>
</footer>
